USE [master]
GO
/****** Object:  Database [Продажа билетов на самолет]    Script Date: 16.11.2022 20:40:18 ******/
CREATE DATABASE [Продажа билетов на самолет]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Продажа билетов на самолет', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Продажа билетов на самолет.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Продажа билетов на самолет_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Продажа билетов на самолет_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Продажа билетов на самолет].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Продажа билетов на самолет]
GO
/****** Object:  UserDefinedFunction [dbo].[МинимальноеКоличествоМестВСамолете]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[МинимальноеКоличествоМестВСамолете] ()

RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @МинКолвоМест int 

	-- Add the T-SQL statements to compute the return value here
	SELECT @МинКолвоМест= Min(КоличествоМест)
	From Самолеты

	-- Return the result of the function
	RETURN @МинКолвоМест

END

GO
/****** Object:  UserDefinedFunction [dbo].[ПассажирыСБагажом]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[ПассажирыСБагажом] (@Багаж bit)

RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @КоличествоПассажиров int

	-- Add the T-SQL statements to compute the return value here
	SELECT @КоличествоПассажиров = COUNT(КодПассажира)
	FROM Билеты
	WHERE Багаж = @Багаж

	-- Return the result of the function
	RETURN @КоличествоПассажиров

END

GO
/****** Object:  UserDefinedFunction [dbo].[СовершеннолетниеПассажиры]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[СовершеннолетниеПассажиры] ()

RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @КоличествоСовершеннолетних int

	-- Add the T-SQL statements to compute the return value here
	SELECT @КоличествоСовершеннолетних = COUNT(КодПассажира)
	FROM Пассажиры
	WHERE YEAR(GetDate()) - YEAR(ДатаРождения) >= 18

	-- Return the result of the function
	RETURN @КоличествоСовершеннолетних

END

GO
/****** Object:  Table [dbo].[Билеты]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Билеты](
	[КодБилета] [bigint] NOT NULL,
	[КодРейса] [int] NOT NULL,
	[КодАвиакомпании] [int] NOT NULL,
	[КодПассажира] [int] NOT NULL,
	[НазваниеКласса] [nvarchar](50) NULL,
	[ДатаПокупкиБилета] [date] NOT NULL,
	[ВремяПокупкиБилета] [time](7) NOT NULL,
	[Багаж] [bit] NULL,
 CONSTRAINT [PK_Билеты] PRIMARY KEY CLUSTERED 
(
	[КодБилета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пассажиры]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пассажиры](
	[КодПассажира] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[СерияПаспорта] [int] NOT NULL,
	[НомерПаспорта] [int] NOT NULL,
	[МобильныйТелефон] [nvarchar](50) NULL,
	[ДатаРождения] [date] NOT NULL,
 CONSTRAINT [PK_Пассажиры] PRIMARY KEY CLUSTERED 
(
	[КодПассажира] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ПассажирыКлассы]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ПассажирыКлассы]
AS
SELECT        dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Билеты.НазваниеКласса
FROM            dbo.Пассажиры INNER JOIN
                         dbo.Билеты ON dbo.Пассажиры.КодПассажира = dbo.Билеты.КодПассажира
GO
/****** Object:  Table [dbo].[Аэропорты]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Аэропорты](
	[КодАэропорта] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Город] [nvarchar](50) NOT NULL,
	[Телефон] [nvarchar](50) NULL,
 CONSTRAINT [PK_Аэропорты] PRIMARY KEY CLUSTERED 
(
	[КодАэропорта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Рейсы]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рейсы](
	[КодРейса] [int] NOT NULL,
	[КодАвиакомпании] [int] NOT NULL,
	[КодСамолёта] [int] NOT NULL,
	[Отправление] [int] NOT NULL,
	[Прибытие] [int] NOT NULL,
	[ДатаОтправления] [date] NOT NULL,
	[ДатаПрибытия] [date] NOT NULL,
	[ВремяОтправления] [time](7) NOT NULL,
	[ВремяПрибытия] [time](7) NOT NULL,
	[ДлительностьПерелета] [nvarchar](50) NOT NULL,
	[СтоимостьБилета] [money] NOT NULL,
 CONSTRAINT [PK_Рейсы] PRIMARY KEY CLUSTERED 
(
	[КодРейса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ПассажирыОтправление]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ПассажирыОтправление]
AS
SELECT        dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Аэропорты.Город AS ГородОтправления
FROM            dbo.Билеты INNER JOIN
                         dbo.Пассажиры ON dbo.Билеты.КодПассажира = dbo.Пассажиры.КодПассажира INNER JOIN
                         dbo.Рейсы ON dbo.Билеты.КодРейса = dbo.Рейсы.КодРейса INNER JOIN
                         dbo.Аэропорты ON dbo.Рейсы.Отправление = dbo.Аэропорты.КодАэропорта
GO
/****** Object:  Table [dbo].[Авиакомпании]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авиакомпании](
	[КодАвиакомпании] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Телефон] [nvarchar](50) NULL,
	[ЭлектронныйАдрес] [nvarchar](50) NULL,
 CONSTRAINT [PK_Авиакомпании] PRIMARY KEY CLUSTERED 
(
	[КодАвиакомпании] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Самолеты]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Самолеты](
	[КодСамолета] [int] NOT NULL,
	[КодАвиакомпании] [int] NOT NULL,
	[МодельСамолета] [nvarchar](50) NOT NULL,
	[КоличествоМест] [int] NULL,
 CONSTRAINT [PK_Самолеты] PRIMARY KEY CLUSTERED 
(
	[КодСамолета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Авиакомпании] ([КодАвиакомпании], [Наименование], [Телефон], [ЭлектронныйАдрес]) VALUES (319, N'S7 Airlines', N'8 495 783-07-07', N'presscenter@s7.ru')
INSERT [dbo].[Авиакомпании] ([КодАвиакомпании], [Наименование], [Телефон], [ЭлектронныйАдрес]) VALUES (320, N'Ural Airlines', N'8 800 770-02-62', N'vacancy@u6.ru')
INSERT [dbo].[Авиакомпании] ([КодАвиакомпании], [Наименование], [Телефон], [ЭлектронныйАдрес]) VALUES (737, N'Pegas Fly', N'8 495 228-31-84', N'pegast@pegast.ru')
GO
INSERT [dbo].[Аэропорты] ([КодАэропорта], [Наименование], [Город], [Телефон]) VALUES (12, N'Шереметьево', N'Москва', N'8 495 578-65-65')
INSERT [dbo].[Аэропорты] ([КодАэропорта], [Наименование], [Город], [Телефон]) VALUES (15, N'Пулково', N'Санкт-Петербург', N'8 812 337-38-22')
INSERT [dbo].[Аэропорты] ([КодАэропорта], [Наименование], [Город], [Телефон]) VALUES (17, N'Стригино', N'Нижний Новгород', N'8 831 261-80-80')
GO
INSERT [dbo].[Билеты] ([КодБилета], [КодРейса], [КодАвиакомпании], [КодПассажира], [НазваниеКласса], [ДатаПокупкиБилета], [ВремяПокупкиБилета], [Багаж]) VALUES (65116853213, 106, 777, 11, N'Бизнес-класс', CAST(N'2022-11-08' AS Date), CAST(N'20:34:43.9257021' AS Time), 1)
INSERT [dbo].[Билеты] ([КодБилета], [КодРейса], [КодАвиакомпании], [КодПассажира], [НазваниеКласса], [ДатаПокупкиБилета], [ВремяПокупкиБилета], [Багаж]) VALUES (1478963258963, 103, 777, 4, N'Эконом-класс', CAST(N'2022-04-01' AS Date), CAST(N'06:30:00' AS Time), 1)
INSERT [dbo].[Билеты] ([КодБилета], [КодРейса], [КодАвиакомпании], [КодПассажира], [НазваниеКласса], [ДатаПокупкиБилета], [ВремяПокупкиБилета], [Багаж]) VALUES (1745632896523, 112, 823, 13, N'Бизнес-класс', CAST(N'2022-05-04' AS Date), CAST(N'04:07:00' AS Time), 1)
GO
INSERT [dbo].[Пассажиры] ([КодПассажира], [Фамилия], [Имя], [Отчество], [СерияПаспорта], [НомерПаспорта], [МобильныйТелефон], [ДатаРождения]) VALUES (1, N'Калион', N'Екатерина', N'Максимовна', 4437, 239072, N'8 953 748-45-05', CAST(N'2003-12-21' AS Date))
INSERT [dbo].[Пассажиры] ([КодПассажира], [Фамилия], [Имя], [Отчество], [СерияПаспорта], [НомерПаспорта], [МобильныйТелефон], [ДатаРождения]) VALUES (2, N'Панфёров', N'Никифор', N'Филиппович', 5896, 125896, N'8 900 485-05-36', CAST(N'1989-06-24' AS Date))
INSERT [dbo].[Пассажиры] ([КодПассажира], [Фамилия], [Имя], [Отчество], [СерияПаспорта], [НомерПаспорта], [МобильныйТелефон], [ДатаРождения]) VALUES (3, N'Радченко', N'Татьяна', N'Ивановна', 1456, 365899, N'8 456 789-89-96', CAST(N'2001-03-12' AS Date))
GO
INSERT [dbo].[Рейсы] ([КодРейса], [КодАвиакомпании], [КодСамолёта], [Отправление], [Прибытие], [ДатаОтправления], [ДатаПрибытия], [ВремяОтправления], [ВремяПрибытия], [ДлительностьПерелета], [СтоимостьБилета]) VALUES (100, 319, 58, 12, 15, CAST(N'2022-04-05' AS Date), CAST(N'2022-04-06' AS Date), CAST(N'23:10:00' AS Time), CAST(N'00:30:00' AS Time), N'1ч 20м', 39360.0000)
INSERT [dbo].[Рейсы] ([КодРейса], [КодАвиакомпании], [КодСамолёта], [Отправление], [Прибытие], [ДатаОтправления], [ДатаПрибытия], [ВремяОтправления], [ВремяПрибытия], [ДлительностьПерелета], [СтоимостьБилета]) VALUES (101, 320, 64, 12, 17, CAST(N'2022-04-06' AS Date), CAST(N'2022-04-06' AS Date), CAST(N'00:30:00' AS Time), CAST(N'01:40:00' AS Time), N'1ч 10м', 4819.0000)
INSERT [dbo].[Рейсы] ([КодРейса], [КодАвиакомпании], [КодСамолёта], [Отправление], [Прибытие], [ДатаОтправления], [ДатаПрибытия], [ВремяОтправления], [ВремяПрибытия], [ДлительностьПерелета], [СтоимостьБилета]) VALUES (102, 737, 73, 15, 17, CAST(N'2022-04-09' AS Date), CAST(N'2022-04-09' AS Date), CAST(N'09:35:00' AS Time), CAST(N'11:20:00' AS Time), N'1ч 45м', 6811.0000)
GO
INSERT [dbo].[Самолеты] ([КодСамолета], [КодАвиакомпании], [МодельСамолета], [КоличествоМест]) VALUES (58, 319, N'Airbus A319', 134)
INSERT [dbo].[Самолеты] ([КодСамолета], [КодАвиакомпании], [МодельСамолета], [КоличествоМест]) VALUES (64, 320, N'Airbus A320', 180)
INSERT [dbo].[Самолеты] ([КодСамолета], [КодАвиакомпании], [МодельСамолета], [КоличествоМест]) VALUES (73, 737, N'Boeing 737-800', 189)
GO
ALTER TABLE [dbo].[Билеты]  WITH CHECK ADD  CONSTRAINT [FK_Билеты_Авиакомпании] FOREIGN KEY([КодАвиакомпании])
REFERENCES [dbo].[Авиакомпании] ([КодАвиакомпании])
GO
ALTER TABLE [dbo].[Билеты] CHECK CONSTRAINT [FK_Билеты_Авиакомпании]
GO
ALTER TABLE [dbo].[Билеты]  WITH CHECK ADD  CONSTRAINT [FK_Билеты_Пассажиры] FOREIGN KEY([КодПассажира])
REFERENCES [dbo].[Пассажиры] ([КодПассажира])
GO
ALTER TABLE [dbo].[Билеты] CHECK CONSTRAINT [FK_Билеты_Пассажиры]
GO
ALTER TABLE [dbo].[Билеты]  WITH CHECK ADD  CONSTRAINT [FK_Билеты_Рейсы] FOREIGN KEY([КодРейса])
REFERENCES [dbo].[Рейсы] ([КодРейса])
GO
ALTER TABLE [dbo].[Билеты] CHECK CONSTRAINT [FK_Билеты_Рейсы]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Авиакомпании] FOREIGN KEY([КодАвиакомпании])
REFERENCES [dbo].[Авиакомпании] ([КодАвиакомпании])
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Авиакомпании]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Аэропорты] FOREIGN KEY([Отправление])
REFERENCES [dbo].[Аэропорты] ([КодАэропорта])
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Аэропорты]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Аэропорты1] FOREIGN KEY([Прибытие])
REFERENCES [dbo].[Аэропорты] ([КодАэропорта])
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Аэропорты1]
GO
ALTER TABLE [dbo].[Рейсы]  WITH CHECK ADD  CONSTRAINT [FK_Рейсы_Самолеты] FOREIGN KEY([КодСамолёта])
REFERENCES [dbo].[Самолеты] ([КодСамолета])
GO
ALTER TABLE [dbo].[Рейсы] CHECK CONSTRAINT [FK_Рейсы_Самолеты]
GO
ALTER TABLE [dbo].[Самолеты]  WITH CHECK ADD  CONSTRAINT [FK_Самолеты_Авиакомпании] FOREIGN KEY([КодАвиакомпании])
REFERENCES [dbo].[Авиакомпании] ([КодАвиакомпании])
GO
ALTER TABLE [dbo].[Самолеты] CHECK CONSTRAINT [FK_Самолеты_Авиакомпании]
GO
/****** Object:  StoredProcedure [dbo].[АэропортПрибытиеРейса]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[АэропортПрибытиеРейса]
@RaceId int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT        dbo.Аэропорты.Наименование, dbo.Аэропорты.Город
FROM            dbo.Аэропорты INNER JOIN
                         dbo.Рейсы ON dbo.Аэропорты.КодАэропорта = dbo.Рейсы.Прибытие
Where КодРейса = @RaceId 
END
GO
/****** Object:  StoredProcedure [dbo].[БилетыПроцедура]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[БилетыПроцедура]
AS
BEGIN
	SET NOCOUNT ON;
SELECT        dbo.Билеты.КодБилета, dbo.Билеты.КодРейса, dbo.Авиакомпании.Наименование, dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Билеты.НазваниеКласса, dbo.Билеты.Багаж, 
                         dbo.Рейсы.ДатаОтправления, dbo.Рейсы.ВремяОтправления, dbo.Аэропорты.Город AS [Город-назначение]
FROM            dbo.Билеты INNER JOIN
                         dbo.Пассажиры ON dbo.Билеты.КодПассажира = dbo.Пассажиры.КодПассажира INNER JOIN
                         dbo.Рейсы ON dbo.Билеты.КодРейса = dbo.Рейсы.КодРейса INNER JOIN
                         dbo.Авиакомпании ON dbo.Рейсы.КодАвиакомпании = dbo.Авиакомпании.КодАвиакомпании INNER JOIN
                         dbo.Аэропорты ON dbo.Рейсы.Прибытие = dbo.Аэропорты.КодАэропорта
END
GO
/****** Object:  StoredProcedure [dbo].[ВозрастПассажиров]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ВозрастПассажиров]
AS
BEGIN
SET NOCOUNT ON;
SELECT    Фамилия+' '+ Left(Имя,1)+'. '+Left(Отчество,1)+ '. ' AS ФИО,
Year(GetDate()) -  Year(ДатаРождения) AS Возраст     
FROM     Пассажиры
ORDER By Возраст ASC
END
GO
/****** Object:  StoredProcedure [dbo].[ГлавноеОкно]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ГлавноеОкно]
AS
BEGIN
SET NOCOUNT ON;
SELECT        dbo.Пассажиры.КодПассажира, dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Пассажиры.СерияПаспорта, dbo.Пассажиры.НомерПаспорта, dbo.Пассажиры.МобильныйТелефон, 
                         dbo.Пассажиры.ДатаРождения, dbo.Билеты.НазваниеКласса, dbo.Билеты.Багаж
FROM            dbo.Билеты INNER JOIN
                         dbo.Пассажиры ON dbo.Билеты.КодПассажира = dbo.Пассажиры.КодПассажира
Order By   dbo.Пассажиры.КодПассажира;
						 END
GO
/****** Object:  StoredProcedure [dbo].[ГородОтправления]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ГородОтправления]
@ГородОтправления nvarchar(15)
AS
BEGIN
SET NOCOUNT ON;
SELECT  dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Аэропорты.Город AS ГородОтправления
FROM dbo.Билеты INNER JOIN
                         dbo.Пассажиры ON dbo.Билеты.КодПассажира = dbo.Пассажиры.КодПассажира INNER JOIN
                         dbo.Рейсы ON dbo.Билеты.КодРейса = dbo.Рейсы.КодРейса INNER JOIN
                         dbo.Аэропорты ON dbo.Рейсы.Отправление = dbo.Аэропорты.КодАэропорта
Where @ГородОтправления = dbo.Аэропорты.Город
END
GO
/****** Object:  StoredProcedure [dbo].[ИзменениеТелефонаАвиакомпании]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ИзменениеТелефонаАвиакомпании]
@КодАвиакомпании int,
@Телефон nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		Update Авиакомпании Set Телефон = @Телефон Where КодАвиакомпании = @КодАвиакомпании
END
GO
/****** Object:  StoredProcedure [dbo].[МодельСамолета]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[МодельСамолета]
AS
BEGIN
SET NOCOUNT ON;
SELECT        dbo.Авиакомпании.Наименование, dbo.Самолеты.МодельСамолета
FROM            dbo.Авиакомпании INNER JOIN
                         dbo.Самолеты ON dbo.Авиакомпании.КодАвиакомпании = dbo.Самолеты.КодАвиакомпании
WHERE        dbo.Самолеты.МодельСамолета Like 'Airbus'+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[НоваяАвиакомпания]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[НоваяАвиакомпания]

@КодАвиакомпании int=0,
@Наименование nvarchar(50)=0,
@Телефон nvarchar(50)=0,
@ЭлектронныйАдрес nvarchar(50)=0


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if exists (select * from Авиакомпании where @КодАвиакомпании= КодАвиакомпании )
	print 'Невозможно добавить авиакомпанию'
	else
	Insert INTO Авиакомпании(КодАвиакомпании, Наименование, Телефон , ЭлектронныйАдрес)
	values (@КодАвиакомпании, @Наименование, @Телефон, @ЭлектронныйАдрес)
    -- Insert statements for procedure here
	
END
GO
/****** Object:  StoredProcedure [dbo].[НовыйПассажир]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[НовыйПассажир]

@КодПассажира int=0,
@Фамилия nvarchar(50)=0,
@Имя nvarchar(50)=0,
@Отчество nvarchar(50)=0,
@СерияПаспорта int=0, 
@НомерПаспорта int=0,
@МобильныйТелефон nvarchar(50)=0, 
@ДатаРождения datetime=0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if exists (select * from Пассажиры where @КодПассажира= КодПассажира )
	print 'Невозможно добавить пассажира'
	else
	Insert INTO Пассажиры(КодПассажира, Фамилия, Имя , Отчество, СерияПаспорта, НомерПаспорта, МобильныйТелефон, ДатаРождения)
	values (@КодПассажира, @Фамилия, @Имя, @Отчество, @СерияПаспорта, @НомерПаспорта, @МобильныйТелефон, @ДатаРождения)
    -- Insert statements for procedure here
	
END
GO
/****** Object:  StoredProcedure [dbo].[НовыйСамолет]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[НовыйСамолет]

@КодСамолета int=0,
@КодАвиакомпании int=0,
@МодельСамолета nvarchar(50)=0,
@КоличествоМест int=0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Insert INTO Самолеты(КодСамолета, КодАвиакомпании, МодельСамолета , КоличествоМест)
	values (@КодСамолета, @КодАвиакомпании, @МодельСамолета, @КоличествоМест)
    -- Insert statements for procedure here

	
END
GO
/****** Object:  StoredProcedure [dbo].[ОпределеннаяДатаРейса]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ОпределеннаяДатаРейса]
AS
BEGIN
SET NOCOUNT ON;
SELECT        *
FROM          Рейсы
WHERE    ДатаОтправления >='05.04.2022' and ДатаОтправления <='20.04.2022'   
END
GO
/****** Object:  StoredProcedure [dbo].[ОпределеннаяПочтаИНомерАвиакомпании]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ОпределеннаяПочтаИНомерАвиакомпании]
@КодАвиакомпании int
AS
BEGIN
SET NOCOUNT ON;
SELECT @КодАвиакомпании AS НомерАвиакомпании, Телефон, ЭлектронныйАдрес
FROM Авиакомпании
Where КодАвиакомпании= @КодАвиакомпании
END
GO
/****** Object:  StoredProcedure [dbo].[ОпределенныйКласс]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ОпределенныйКласс]
@КлассСамолета nvarchar(15)
AS
BEGIN
SET NOCOUNT ON;
SELECT        dbo.Пассажиры.Фамилия, dbo.Пассажиры.Имя, dbo.Пассажиры.Отчество, dbo.Билеты.НазваниеКласса
FROM            dbo.Пассажиры INNER JOIN
                         dbo.Билеты ON dbo.Пассажиры.КодПассажира = dbo.Билеты.КодПассажира
Where @КлассСамолета = dbo.Билеты.НазваниеКласса
END
GO
/****** Object:  StoredProcedure [dbo].[РейсыПроцедура]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<NoName>
-- Create date: <09.11.22>
-- Description:	<МАЙКРОСОФТ НЕ ОСИЛИЛ ТАКУЮ БИТВУ>
-- =============================================
CREATE PROCEDURE [dbo].[РейсыПроцедура]
AS
BEGIN
	SET NOCOUNT ON;
SELECT        dbo.Рейсы.КодРейса, dbo.Авиакомпании.Наименование, dbo.Самолеты.МодельСамолета, dbo.Рейсы.ДатаОтправления, dbo.Рейсы.ДатаПрибытия, dbo.Рейсы.ВремяОтправления, dbo.Рейсы.ВремяПрибытия, 
                         dbo.Рейсы.ДлительностьПерелета, dbo.Рейсы.СтоимостьБилета, dbo.Аэропорты.Город AS [Город-отправление], Прибытия.Город AS [Город-назначение]
FROM            dbo.Авиакомпании INNER JOIN
                         dbo.Рейсы ON dbo.Авиакомпании.КодАвиакомпании = dbo.Рейсы.КодАвиакомпании INNER JOIN
                         dbo.Самолеты ON dbo.Авиакомпании.КодАвиакомпании = dbo.Самолеты.КодАвиакомпании AND dbo.Рейсы.КодСамолёта = dbo.Самолеты.КодСамолета INNER JOIN
                         dbo.Аэропорты ON dbo.Рейсы.Отправление = dbo.Аэропорты.КодАэропорта INNER JOIN
                             (SELECT       *
                               FROM            dbo.Аэропорты AS Аэропорты_1) AS Прибытия ON Прибытия.КодАэропорта = dbo.Рейсы.Прибытие
END
GO
/****** Object:  StoredProcedure [dbo].[СамолетыПроцедура]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[СамолетыПроцедура]
AS
BEGIN
SET NOCOUNT ON;
SELECT        dbo.Самолеты.КодСамолета, dbo.Авиакомпании.Наименование, dbo.Самолеты.МодельСамолета, dbo.Самолеты.КоличествоМест
FROM            dbo.Авиакомпании INNER JOIN
                         dbo.Самолеты ON dbo.Авиакомпании.КодАвиакомпании = dbo.Самолеты.КодАвиакомпании
						 END
GO
/****** Object:  StoredProcedure [dbo].[СтоимостьОпределенногоРейса]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[СтоимостьОпределенногоРейса]
@КодРейса int
AS
BEGIN
SET NOCOUNT ON;
SELECT @КодРейса AS НомерРейса, СтоимостьБилета AS СтоимостьБилета
FROM Рейсы
Where КодРейса= @КодРейса
END
GO
/****** Object:  StoredProcedure [dbo].[УдалениеАэропорта]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[УдалениеАэропорта]
@КодАэропорта int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE From Аэропорты
	WHERE КодАэропорта = @КодАэропорта
	PRINT 'Удаление произвведено успешно'
END
GO
/****** Object:  StoredProcedure [dbo].[УдалениеБилета]    Script Date: 16.11.2022 20:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[УдалениеБилета]
@КодБилета int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE From Билеты
	WHERE КодБилета = @КодБилета
	PRINT 'Удаление произвведено успешно'
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[21] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Пассажиры"
            Begin Extent = 
               Top = 5
               Left = 309
               Bottom = 135
               Right = 514
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Билеты"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1500
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ПассажирыКлассы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ПассажирыКлассы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[34] 4[22] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Билеты"
            Begin Extent = 
               Top = 9
               Left = 521
               Bottom = 225
               Right = 731
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Пассажиры"
            Begin Extent = 
               Top = 5
               Left = 773
               Bottom = 211
               Right = 978
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Рейсы"
            Begin Extent = 
               Top = 0
               Left = 245
               Bottom = 186
               Right = 463
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Аэропорты"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 182
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3300
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ПассажирыОтправление'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'nd
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ПассажирыОтправление'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ПассажирыОтправление'
GO
USE [master]
GO
